<div class="container">
<div class='card'>
  <div class='card-header' id="titleheader">
    <div class='row'>
      <div class="col-md-4">
        <h2>{{title}}</h2>
      </div>
    </div>
  </div>
  <div class='card-body'>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-1">
        <a routerLink="english" routerLinkActive="active">English</a>
      </div>
        <div class="col-md-1">
          <a routerLink="metric" routerLinkActive="active">Metric</a>
        </div>
  </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>
